@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
.mincho {
  font-family: "游明朝", YuMincho, "Kozuka Mincho Pro", "Kozuka Mincho Std", "小塚明朝 Pro R", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
}

.ffEn {
  font-family: "Libre Baskerville", serif;
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.mincho {
  font-family: "游明朝", YuMincho, "Kozuka Mincho Pro", "Kozuka Mincho Std", "小塚明朝 Pro R", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
}

.ffEn {
  font-family: "Libre Baskerville", serif;
}

main,
header,
footer,
section {
  display: block;
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

/*----------------------------------------
BODY
-----------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  word-break: break-all;
  hanging-punctuation: allow-end;
  font-family: "游明朝", YuMincho, "Kozuka Mincho Pro", "Kozuka Mincho Std", "小塚明朝 Pro R", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
  font-weight: normal;
  text-align: justify;
  line-height: 2.13;
  letter-spacing: 0;
  color: #000;
  background: #fff;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #222;
  -webkit-tap-highlight-color: transparent;
}

input[type=text],
input[type=password],
textarea,
select {
  outline: none;
}

.fw {
  font-weight: bold;
}

.udl {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(0%, #000));
  background: linear-gradient(transparent 75%, #000 0%);
}

.abr {
  display: inline-block;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 0;
  font-size: 77%;
  text-align: right;
}
#pageTop a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#pageTop a:hover {
  text-decoration: none;
}

.imgFull img {
  width: 100%;
}

a.over:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

video {
  max-width: 100%;
}

@media screen and (min-width: 835px) {
  body {
    font-size: 1.6rem;
  }
  .spbr {
    display: none;
  }
  .sp {
    display: none !important;
  }
  .pc {
    display: block;
  }
  a[href^="tel:"] {
    pointer-events: none;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    opacity: 0.6;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  a img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  a[href^="tel:"] {
    pointer-events: none;
  }
}
@media screen and (max-width: 834px) {
  body {
    font-size: 1.4rem;
  }
  .pcbr {
    display: none;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none !important;
  }
}
.inrWidth {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.outerWidth {
  width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.fullWidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .fullWidth {
    width: 1280px;
  }
  .outerWidth {
    width: 1040px;
  }
  .inrWidth {
    width: 780px;
  }
}
@media screen and (max-width: 834px) {
  .inrWidth {
    width: 88%;
  }
  .outerWidth {
    width: 92%;
  }
  .fullWidth {
    width: 100%;
  }
}
.se {
  display: none;
}

@media only screen and (max-width: 400px) {
  .se {
    display: block;
  }
}
/*----------------------------------------
HEADER
-----------------------------------------*/
.addLine {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.addLine a {
  font-size: 1.1rem;
  letter-spacing: 0;
  color: #fff;
  text-decoration: underline;
}

.hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  mix-blend-mode: difference;
  z-index: 500;
}
.hd * {
  color: #FFF !important;
}
.hd__wrap {
  display: block;
  padding: 55px 0;
}
.hd__logo {
  display: block;
  color: #fff;
}
.hd__logo--icon {
  width: 115px;
  margin-inline: auto;
}
.hd__logo--txt {
  font-size: 2rem;
  margin-left: 18px;
}
.hd__nav {
  padding-top: 105px;
  display: block;
  font-size: 1.4rem;
  letter-spacing: 0;
}
.hd__nav--ul {
  display: block;
  margin-bottom: 10px;
  padding-left: 56px;
}
@media only screen and (min-width: 835px) {
  .hd__nav--ul a:hover {
    text-decoration: underline;
  }
}
.hd__nav--li {
  position: relative;
  line-height: 1.3;
}
.hd__nav--li:not(:first-of-type) {
  margin-top: 25px;
}
.hd__nav .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hd__nav .login__icon {
  width: 17px;
  margin-right: 6px;
  margin-bottom: 4px;
}
.hd__nav .login__sub {
  display: block;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 5px;
}
.hd__nav .login__main {
  display: block;
  line-height: 1;
  margin-bottom: 3px;
}

.language-switcher {
  position: fixed;
  top: 60px;
  right: 50px;
  z-index: 10;
  mix-blend-mode: difference;
  color: #FFF !important;
}
.language-switcher * {
  color: #FFF !important;
}

.fixedShop {
  position: fixed;
  bottom: 40px;
  right: 55px;
  width: 110px;
  height: 110px;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fixedShop.off {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.fixedShop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 2rem;
  border-radius: 100vmax;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fixedShop a:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 100vmax;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fixedShop a:hover {
  opacity: 1;
  color: #fff;
  background-color: #000;
}
.fixedShop a:hover:before {
  border-color: #fff;
}

.withMV .hd {
  background: none;
}
.withMV .hd a {
  color: #000;
}
.withMV__inr {
  padding: 100px 0 150px;
}
.withMVwht .hd {
  background: transparent;
}

.humBtn {
  display: none;
}

@media screen and (max-width: 834px) {
  .addLine {
    top: 0px;
    height: 31px;
    z-index: 1000 !important;
  }
  .addLine a {
    font-size: 1rem;
  }
  .hd {
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
  .hd__wrap {
    width: 93%;
    margin: 0 auto;
    padding: 46px 0 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hd__logo--icon {
    width: 85px;
  }
  .hd__logo--txt {
    font-size: 1.4rem;
    margin-left: 10px;
  }
  .hd__service {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 21px 0 auto;
  }
  .hd__nav {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .hd__nav--ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 315px;
    margin: 90px auto 0;
  }
  .hd__nav--li {
    position: relative;
    font-size: 2rem;
    line-height: 1.01;
  }
  .hd__nav--li:not(:last-of-type) {
    margin: 0 0 34px 0;
  }
  .hd__nav .login__iconSp {
    width: 17px;
    margin-right: 6px;
    margin-bottom: 5px;
  }
  .hd__nav--line {
    width: 100%;
    margin-top: 28px;
  }
  .hd__nav--line--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0;
    width: 100%;
    height: 36px;
    color: #fff;
    border: 1px solid #fff;
  }
  .hd__nav--copy {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 0;
    color: #fff;
    max-width: 315px;
    margin: 55px auto 0;
  }
  .hd.open {
    top: 0;
    padding-bottom: 70vh;
    background: #000 !important;
  }
  .hd.open a {
    color: #fff !important;
  }
  .fixedShop {
    left: unset;
    right: 15px;
    bottom: 20px;
    width: 90px;
    height: 90px;
  }
  .fixedShop a {
    font-size: 1.6rem;
  }
  .fixedShop a:before {
    width: 80px;
    height: 80px;
  }
  .humBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 31px;
    height: 20px;
    margin-top: 10px;
  }
  .humBtn span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .humBtn span::before, .humBtn span::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .humBtn span::before {
    top: -7px;
  }
  .humBtn span::after {
    top: 7px;
  }
  .humBtn.open span {
    background: transparent !important;
  }
  .humBtn.open span::before {
    background: #fff !important;
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .humBtn.open span::after {
    background: #fff !important;
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.lineAdd {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.lineAdd__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.lineAdd__blk {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  background: #fff;
  border: 2px solid #9a9a9a;
  border-radius: 25px;
  z-index: 10;
}
.lineAdd__blk--icon {
  width: 75px;
  margin-bottom: 20px;
}
.lineAdd__blk--logo {
  width: 200px;
  margin-bottom: 30px;
}
.lineAdd__blk--lead {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}
.lineAdd__blk--qr {
  width: 150px;
  margin-bottom: 20px;
}
.lineAdd__blk--txt {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}
.lineAdd__close {
  position: relative;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1;
  margin-top: 20px;
  pointer-events: none;
  z-index: 10;
}
.lineAdd__close--box {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
  border: 1px solid #fff;
  margin: 5px auto 0;
}
.lineAdd__close--box::before, .lineAdd__close--box::after {
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.lineAdd__close--box:before {
  top: 9px;
  left: 2px;
  width: 15px;
  height: 1px;
}
.lineAdd__close--box:after {
  top: 2px;
  left: 9px;
  width: 1px;
  height: 15px;
}
.lineAdd__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}

.lineBtn {
  cursor: pointer;
}
.lineBtn a {
  pointer-events: none;
}

/*----------------------------------------
 FOOTER
-----------------------------------------*/
.ft {
  position: relative;
  background-image: url(../../assets/img/common/ft_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  z-index: 501;
}
.ft a {
  color: #fff;
}
.ft_cnt {
  padding: 91px 0 80px;
  width: calc(100% - 30px);
  margin-inline: auto;
  max-width: 1040px;
  position: relative;
}
.ft_cnt-logo {
  width: 356px;
}
.ft_cnt-ma {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ft_cnt-ma-lft {
  width: 48%;
  margin-top: 47px;
}
.ft_cnt-ma-lft-blk:not(:first-of-type) {
  margin-top: 44px;
}
.ft_cnt-ma-lft-blk-ttl.-en {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  font-family: "Libre Baskerville", serif;
}
.ft_cnt-ma-lft-blk-bArea {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ft_cnt-ma-lft-blk-bArea a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48%;
  height: 47px;
  letter-spacing: 0.1em;
  border: 1px solid #fff;
}
.ft_cnt-ma-lft-blk-bArea a.lineBtn {
  position: relative;
  text-indent: 3em;
  letter-spacing: 0.08em;
}
.ft_cnt-ma-lft-blk-bArea a.lineBtn:before {
  position: absolute;
  content: "";
  width: 23px;
  height: 22px;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../assets/img/common/icon_line.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.ft_cnt-ma-lft-blk-bArea a.mlmgBtn {
  position: relative;
  text-indent: 3em;
  letter-spacing: 0.08em;
}
.ft_cnt-ma-lft-blk-bArea a.mlmgBtn:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 16px;
  top: 50%;
  left: 33%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../assets/img/common/icon_mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 769px) {
  .ft_cnt-ma-lft-blk-bArea a:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
  }
}
.ft_cnt-ma-lft-blk-bArea.fCol {
  display: block;
}
.ft_cnt-ma-lft-blk-bArea.fCol a {
  width: 100%;
}
.ft_cnt-ma-lft-blk-bArea.fCol a:not(:first-of-type) {
  margin-top: 22px;
}
.ft_cnt-ma-rgt {
  width: 32.8%;
  position: relative;
}
.ft_cnt-ma-rgt::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 90%;
  top: 19px;
  left: 0;
  background-color: #fff;
}
.ft_cnt-ma-rgt-list li a {
  font-size: 2rem;
  display: block;
  padding: 10px 19px;
  letter-spacing: 0.08em;
  font-family: "Libre Baskerville", serif;
}
.ft_cnt-btm {
  margin-top: 47px;
}
.ft_cnt-btm-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ft_cnt-btm-flex-logo a {
  margin-right: 35px;
}
.ft_cnt-btm-flex-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}
.ft_cnt-btm-flex-link li {
  margin-left: 20px;
}
.ft_cnt-btm-flex-link li a {
  font-size: 1.2rem;
}
.ft_cnt-btm-sns {
  position: absolute;
  top: 190px;
  right: 0;
}
.ft_cnt-btm-sns-ttl {
  font-family: "Hiragino Sans", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0;
}
.ft_cnt-btm-sns-list {
  margin-top: 18px;
}
.ft_cnt-btm-sns-list li {
  text-align: center;
}
.ft_cnt-btm-sns-list li:not(:first-of-type) {
  margin-top: 24px;
}
.ft_cnt-btm-tArea {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.ft_cnt-btm-tArea-com-ttl {
  font-size: 1.8rem;
}
.ft_cnt-btm-tArea-com-info {
  font-size: 1.2rem;
  text-align: right;
  letter-spacing: 0.06em;
}
.ft_cnt-btm-tArea-att {
  margin-top: 16px;
}
.ft_cnt-btm-tArea-att-txt {
  font-size: 1.1rem;
}

@media screen and (max-width: 834px) {
  .ft {
    background-image: url(../../assets/img/common/ft_bg_sp.png);
    background-size: 100%;
  }
  .ft_cnt {
    padding: 49px 0 0px;
    width: calc(100% - 50px);
    margin-inline: auto;
    max-width: unset;
  }
  .ft_cnt-logo {
    width: 290px;
    margin-inline: auto;
  }
  .ft_cnt-ma {
    margin-top: 41px;
    display: block;
    position: relative;
  }
  .ft_cnt-ma-lft {
    width: 100%;
    margin-top: 0;
  }
  .ft_cnt-ma-lft-blk:not(:first-of-type) {
    margin-top: 27px;
  }
  .ft_cnt-ma-lft-blk-ttl.-en {
    font-size: 1.4rem;
  }
  .ft_cnt-ma-lft-blk-bArea {
    margin-top: 11px;
    display: block;
  }
  .ft_cnt-ma-lft-blk-bArea a {
    width: 100%;
    height: 36px;
    font-size: 1.4rem;
    letter-spacing: 0;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
  }
  .ft_cnt-ma-lft-blk-bArea a:not(:first-of-type) {
    margin-top: 18px;
  }
  .ft_cnt-ma-lft-blk-bArea a.lineBtn {
    text-indent: 0;
    text-indent: 2.4em;
    letter-spacing: 0.01em;
    margin-top: 0 !important;
  }
  .ft_cnt-ma-lft-blk-bArea a.lineBtn:before {
    width: 20px;
    height: 19px;
    top: 50%;
    left: 10.1%;
  }
  .ft_cnt-ma-lft-blk-bArea a.mlmgBtn {
    margin-top: 18px;
  }
  .ft_cnt-ma-lft-blk-bArea a.mlmgBtn:before {
    width: 17px;
    height: 13px;
    top: 50%;
    left: 32%;
  }
  .ft_cnt-ma-rgt {
    width: 100%;
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ft_cnt-ma-rgt::before {
    display: none;
  }
  .ft_cnt-ma-rgt-list {
    width: 50%;
  }
  .ft_cnt-ma-rgt-list li a {
    font-size: 1.8rem;
    padding: 1px 1px;
  }
  .ft_cnt-ma-totop {
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 25px;
  }
  .ft_cnt-btm {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: #000;
    margin-top: 40px;
    padding: 32px 0px 60px;
  }
  .ft_cnt-btm-flex {
    display: block;
  }
  .ft_cnt-btm-flex-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-inline: auto;
    width: calc(100% - 73px);
  }
  .ft_cnt-btm-flex-logo a {
    width: auto;
    display: block;
    margin-inline: auto;
    height: 18px;
  }
  .ft_cnt-btm-flex-logo a:first-of-type {
    position: relative;
    left: -7px;
  }
  .ft_cnt-btm-flex-logo a:nth-of-type(2) {
    position: relative;
    left: 6px;
  }
  .ft_cnt-btm-flex-logo a img {
    width: 100%;
    display: block;
    height: 100%;
  }
  .ft_cnt-btm-flex-link {
    margin-top: 21px;
  }
  .ft_cnt-btm-flex-link li a {
    font-size: 1rem;
  }
  .ft_cnt-btm-sns {
    position: relative;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-inline: auto;
    width: 177px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 21px;
  }
  .ft_cnt-btm-sns-ttl {
    font-size: 1.1rem;
  }
  .ft_cnt-btm-sns-list {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 113px;
  }
  .ft_cnt-btm-sns-list li {
    text-align: center;
    width: auto;
    height: 20px;
  }
  .ft_cnt-btm-sns-list li:not(:first-of-type) {
    margin-top: 0;
  }
  .ft_cnt-btm-sns-list li a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .ft_cnt-btm-sns-list li img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .ft_cnt-btm-tArea {
    display: block;
    margin-top: 31px;
  }
  .ft_cnt-btm-tArea-com-ttl {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1;
  }
  .ft_cnt-btm-tArea-com-info {
    margin-top: 5px;
    text-align: center;
    font-size: 1rem;
  }
  .ft_cnt-btm-tArea-att {
    margin-top: 23px;
    margin-inline: auto;
  }
  .ft_cnt-btm-tArea-att-txt {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.03em;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
  }
}
@media screen and (max-width: 414px) {
  .ft {
    background-size: auto;
  }
}
/*----------------------------------------
  COMMON
-----------------------------------------*/
.comTopTtl {
  font-size: 4rem;
  line-height: 1.25;
  letter-spacing: 0.075em;
}
.comTopTtl.-ja {
  font-size: 3.4rem;
  letter-spacing: 0;
}

@media screen and (max-width: 834px) {
  .comTopTtl {
    font-size: 2.4rem;
    margin-inline: auto;
    width: calc(100% - 20px);
  }
  .comTopTtl.-ja {
    font-size: 2.1rem;
  }
}
.cmnSecLeftCnt {
  padding-left: 130px;
  margin-inline: auto;
  max-width: 1170px;
  width: calc(100% - 30px);
}

@media screen and (max-width: 834px) {
  .cmnSecLeftCnt {
    padding-left: 0;
    max-width: unset;
  }
}
.article {
  padding: 170px 0 150px;
}
.article__ttl {
  padding-left: 0px;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.075em;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
}

.withMV .hd {
  background: none;
}
.withMV .hd a {
  color: #000;
}
.withMV__inr {
  padding: 138px 0 194px;
}

.linkbtn {
  height: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  border: 1px solid #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 769px) {
  .linkbtn:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.07);
  }
}

.navigation {
  margin-top: 79px;
  text-align: center;
}
.navigation .screen-reader-text {
  display: none;
}
.navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation .nav-links * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 8px;
}
.navigation .nav-links *.current {
  color: #fff;
  background: #000;
}
.navigation .pager__links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}
.navigation .pager__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  height: 50px;
  padding: 10px 0;
  line-height: 1;
}
.navigation .pager__links--prev:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(135deg) translate(-3px, -3px);
          transform: rotate(135deg) translate(-3px, -3px);
  margin: 2px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 835px) {
  .navigation .pager__links--prev:hover:before {
    -webkit-transform: rotate(135deg) translate(0, 0);
            transform: rotate(135deg) translate(0, 0);
  }
}
.navigation .pager__links--top {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.navigation .pager__links--top:before, .navigation .pager__links--top:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 2px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation .pager__links--top::after {
  position: absolute;
  top: 3px;
}
@media screen and (min-width: 835px) {
  .navigation .pager__links--top:hover:before, .navigation .pager__links--top:hover:after {
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
            transform: rotate(45deg) translate(-3px, -3px);
  }
}
.navigation .pager__links--next {
  margin-left: auto;
}
.navigation .pager__links--next:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  -webkit-transform: rotate(135deg) translate(3px, 3px);
          transform: rotate(135deg) translate(3px, 3px);
  margin: 2px auto 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 835px) {
  .navigation .pager__links--next:hover:before {
    -webkit-transform: rotate(135deg) translate(0, 0);
            transform: rotate(135deg) translate(0, 0);
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  background: #fff;
  width: 10px;
  height: 10px;
  margin: 0 8px !important;
}

@media screen and (max-width: 834px) {
  .article {
    padding: 105px 0 50px;
  }
  .article__ttl {
    font-size: 2rem;
    letter-spacing: 0.075em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .withMV__inr {
    padding: 39px 0 70px;
  }
  .withMV .humBtn span {
    background: #000;
  }
  .withMV .humBtn span::before, .withMV .humBtn span::after {
    background: #000;
  }
  .linkbtn {
    height: 36px;
    font-size: 1.4rem;
  }
  .navigation {
    margin-top: 32px;
  }
  .navigation .nav-links * {
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0 4px;
  }
  .navigation .pager__links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    max-width: 270px;
    margin: 0 auto;
  }
  .navigation .pager__links a {
    width: 60px;
    height: 40px;
    padding: 0;
  }
  .navigation .pager__links--prev:before {
    width: 10px;
    height: 10px;
  }
  .navigation .pager__links--prev > a {
    padding-top: 15px;
  }
  .navigation .pager__links--top:before, .navigation .pager__links--top:after {
    width: 10px;
    height: 10px;
  }
  .navigation .pager__links--top::after {
    top: 5px;
  }
  .navigation .pager__links--top > a {
    padding-top: 15px;
  }
  .navigation .pager__links--next > a {
    padding-top: 15px;
  }
  .scrollLink {
    position: absolute;
    bottom: 14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.rang-en_rl {
  display: inline-block;
  padding: 0 !important;
  text-orientation: mixed !important;
}

.topColumn__orchestra--ttl {
  text-orientation: mixed !important;
}

.trp-language-switcher {
  height: auto !important;
  width: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.trp-ls-shortcode-current-language {
  display: none !important;
}

.trp-ls-shortcode-language {
  display: inline-block !important;
  visibility: visible !important;
  height: auto !important;
  width: auto !important;
}

.trp-ls-shortcode-disabled-language.trp-ls-disabled-language {
  text-decoration: underline !important;
}

.trp-language-switcher *,
.trp-language-switcher:hover * {
  padding: 0 !important;
  font-size: 1.4rem !important;
}

.trp-language-switcher > div {
  padding: 0 !important;
  border: 0 !important;
  background: none !important;
  height: auto !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.trp-language-switcher > div > a {
  position: relative;
  padding: 0px !important;
  margin: 0 4px !important;
  color: #fff !important;
  display: inline-block !important;
}

.trp-language-switcher > div > a:not(:first-of-type)::before {
  content: "/";
  position: absolute;
  top: 0;
  left: -9px;
}

#language-switcher .trp-language-switcher:focus .trp-ls-shortcode-language,
.trp-language-switcher:hover .trp-ls-shortcode-language {
  position: static !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (max-width: 834px) {
  .withMV .hd a {
    color: #fff !important;
  }
}
.hdCmn {
  position: fixed;
  top: 69px;
  right: 54px;
  z-index: 10;
  mix-blend-mode: difference; /* ← コレ */
}
.hdCmn nav ul li {
  padding-right: 10px;
  text-align: right;
  line-height: 1;
  position: relative;
}
.hdCmn nav ul li:not(:first-of-type) {
  margin-top: 17px;
}
.hdCmn nav ul li a {
  font-family: "Libre Baskerville", serif;
  font-size: 1.4rem;
  line-height: 1;
  -webkit-transition: all 0s;
  transition: all 0s;
  color: #fff; /* ← コレ */
}
.hdCmn nav ul li a:hover {
  text-decoration: underline;
}
.hdCmn nav ul li.on a {
  font-weight: bold;
}
.hdCmn nav ul li.on:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 100vmax;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}
.hdCmn nav ul li.liSw.on:after {
  display: none;
}
.hdCmn nav ul .trp-language-switcher {
  height: auto !important;
  width: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}
.hdCmn nav ul .trp-language-switcher > div > a:last-of-type {
  margin-right: 0 !important;
}

@media only screen and (max-width: 834px) {
  .hdCmn {
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 310px;
    background-color: #000;
    height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0px 10px 0 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2000;
  }
  .hdCmn.on {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    mix-blend-mode: unset;
  }
  .hdCmn__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 10px;
  }
  .hdCmn__hb {
    position: fixed;
    z-index: 9;
    top: 58px;
    right: 15px;
    width: 30px;
    height: 20px;
    mix-blend-mode: difference; /* ← コレ */
  }
  .hdCmn__hb span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 1px;
  }
  .hdCmn__hb span:nth-of-type(1) {
    top: 0;
  }
  .hdCmn__hb span:nth-of-type(2) {
    top: 50%;
  }
  .hdCmn__hb span:nth-of-type(3) {
    top: 100%;
  }
  .hdCmn__close {
    position: absolute;
    z-index: 10;
    top: 58px;
    right: 15px;
    width: 30px;
    height: 20px;
  }
  .hdCmn__close span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 1px;
    top: 50%;
  }
  .hdCmn__close span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hdCmn__close span:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hdCmn nav ul {
    -webkit-transform: translateY(-19%);
            transform: translateY(-19%);
  }
  .hdCmn nav ul li {
    text-align: left;
  }
  .hdCmn nav ul li:not(:first-of-type) {
    margin-top: 29px;
  }
  .hdCmn nav ul li a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: normal;
  }
  .hdCmn nav ul li.on a {
    font-weight: normal;
  }
  .hdCmn nav ul li.on:after {
    display: none;
  }
  .hdCmn nav ul li.liSw {
    margin-top: 50px;
  }
  .hdCmn nav ul .trp-language-switcher {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .navComBg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .navComBg.on {
    z-index: 9;
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=common.css.map */